.authCta__container{
    display:flex;
    height:3.2rem;
    justify-content:space-between;
    color:white;
    border-radius:0.4rem;
    align-items: center;
    padding :0 1rem;
    margin-top: 1rem;
    /*transition:1000ms ease*/
}


.auth__content{
    display:flex;
    height:3rem;
    width:100%;
    justify-content:space-between;
    align-items: center;
    transition:all 0.5s ease
}

.authCta__container p{
    color: white;
}

.selected{
    /*background:rgba(225,225,225,0.3);*/
    background:rgba(245,108,108, 0.7);
    /*background: var(--color-secondary);*/
}


.authCta__container:hover{
    cursor:pointer;
    border: 1px solid white;
    padding :0 1.1rem;
    transition:all 0.5s ease
}
