.textInput__containe{
    background-color:red;
}
.textInput__input{
    width:300px;
    padding:1em;
    /*margin: 0 20px 1em 20px;*/
    margin-bottom:1em;
    border:none;
    border-radius:5px;
}
.textInput__input_textArea{
    width:100%;
    padding:1em;
    min-height:200px;
    margin-bottom:1em;
    /*margin-left:70px;*/
    border:none;
    border-radius:5px;
}
